/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Header Section */
header {
    background-color: #006f69; /* Turquoise background */
    padding: 15px 20px;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Main Section */
main {
    padding: 20px;
    max-width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main h2 {
    color: #006f69; /* Turquoise */
    margin-bottom: 20px;
    font-size: 24px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
#payment-section img{
    width: 150px;
    height: 150px;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #006f69;
    outline: none;
}

/* Submit Button */
button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #218838;
    transform: translateY(-3px);
}

/* Footer Section */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #006f69;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}
